*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }


.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    width: 100vw;
    color: white;
}

.box{
    display: flex;
    flex-direction: row;
    margin: 10px;
    height: 33%;
    width: 100vw;

}

.box-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    background-color: rgb(255,0,0);
}
.box-2{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    background-color: rgb(45,114,186);
}

.box-5{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: rgb(255,0,0);
}
.box-3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    background-color: rgb(45,114,186);
}

.box-6{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    background-color: rgb(255,0,0);
}
.box-4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    background-color: rgb(45,114,186);
}
